<div class="form-wrap">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :first_name, class: 'sign-up-label' %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'sign-up-input' %>
    </div>

    <div class="field">
      <%= f.label :last_name, class: 'sign-up-label' %><br />
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'sign-up-input' %>
    </div>

    <div class="field">
      <%= f.label :email, class: 'sign-up-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'sign-up-input' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'sign-up-label' %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'sign-up-input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'sign-up-label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'sign-up-input' %>
    </div>

    <div class="field">
      <%= f.label :current_password, class: 'sign-up-label' %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'sign-up-input' %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'form-btn' %>
    </div>
  <% end %>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

  <%= link_to "Back", :back %>
</div>