<h4><%=pluralize(@inverse_friendships.count, 'notification')%></h4>

<% if @inverse_friendships.any? %>
  <% @inverse_friendships.each do |request|%>
    <% unless friend?(request.sender) %>
      <p> <%= request.sender.first_name %> <%= request.sender.last_name %></p>
      <%= link_to 'Accept request', friendship_path(request.sender), method: :put %>
    <% end %>
  <% end %>
<% else %>
  <p>No notifications</p>
<% end %>  

<h4>Sent friend requests</h4>
  <% @friendships.each do |pending|%>
  <p> <%= pending.reciever.first_name %> <%= pending.reciever.last_name %></p>
<% end %>