<div class="timeline-center">
  <div class="timeline-row">
    <aside class="">
      <section class="post-form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="">
      <ul class="post-list">
        <% @posts.reverse.each do |post| %>
          <li class="post-item post-index">
            <h1 class="post-img"><%= gravatar_for(post.user, options = { size: 50 }) %></h1>
            <h5><%= post.user.first_name %> <%= post.user.last_name %></h5>
            <div><%= post.content %></div>

            <% if liked?(post) %>
              <%= link_to post_like_path(post, liked?(post)), method: :delete , title: "Like" do%> 
              <i class="fa fa-thumbs-down disliked"></i> 
              <%end%>
            <% else %>
              <%= link_to post_likes_path(post), method: :post, title: "Dislike"  do%>
              <i class="fa fa-thumbs-up liked"></i> 
              <%end%>
            <% end %>

            <p><%= pluralize(post.likes.count, 'like') %></p>
            <p><%= pluralize(post.comments.count, 'comment') %></p>
            <p><%= link_to 'Post page', post_path(post.id) %></p>
          </li>
          <div class="comment-form">
            <%= render  'comments/new', post: {post: post} %>
          </div>
          <% post.comments.each do |comment| %>
            <div class="post-comments index-comment">
              <h1 class="post-img"><%= gravatar_for(comment.user, options = { size: 40 }) %></h1>
              <div class="comment-text">
                <h5><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
                <div class="com-text"><%= comment.comment_text %></div>
                <% if comment_author(comment) %>
                  <div class="delete-btn"><%= link_to 'Delete comment', post_comment_path(post.id, comment.id), method: :delete %></div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
