<div class="timeline-center">
  <div class="timeline-row">
    <aside class="">
      <section class="post-form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="">
      <ul class="post-list">
        <% @posts.each do |post| %>
          <li class="post-item">
            <h1 class="post-img"><%= gravatar_for(post.user, options = { size: 50 }) %></h1>
            <h5><%= post.user.first_name %> <%= post.user.last_name %></h5>
            <div><%= post.content %></div>
            <p>Likes</p>
            <%= link_to 'Comments', post_path(id: post.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
