<div class="timeline-center">
  <div class="timeline-row">
    <div class="post-item post-page">
      <h1 class="post-img"><%= gravatar_for(@post.user, options = { size: 50 }) %></h1>
      <h5><%= @post.user.first_name %> <%= @post.user.last_name %></h5>
      <div><%= @post.content %></div>
      <%if liked?(@post) %>
        <%= link_to post_like_path(@post, liked?(@post)), method: :delete do%> 
        <i class="fa fa-thumbs-down disliked"></i> 
        <%end%>
      <% else %>
        <%= link_to post_likes_path(@post), method: :post do%>
        <i class="fa fa-thumbs-up liked"></i> 
        <%end%>
      <%end%>

      <p><%= pluralize(@post.likes.count, 'like') %></p>
      <p><%= pluralize(@post.comments.count, 'comment') %></p>
    </div>

    <section class="post-form post-show">
      <%= render  'comments/new', post: {post: @post} %>
    </section>

    <% @comments.each do |comment| %>
      <div class="post-comments">
        <h1 class="post-img"><%= gravatar_for(comment.user, options = { size: 40 }) %></h1>
        <div class="comment-text">
          <h5><%= comment.user.first_name %> <%= comment.user.last_name %></h5>
          <div class="com-text"><%= comment.comment_text %></div>
          <% if comment_author(comment) %>
            <div class="delete-btn"><%= link_to 'Delete comment', post_comment_path(@post.id, comment.id), method: :delete %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>