<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <nav class="facebook">
      <%= link_to "FakeBook", root_path, class: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Posts", '#' %></li>
        <% if user_signed_in? %>
           <li><%= link_to "User", user_path %></li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>  
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>